doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8; width=device-width; initial-scale=1.0')
    link(rel="stylesheet" type="text/css" href="stylesheets/jquery.dataTables.css")
    link(rel='stylesheet' type="text/css" href='stylesheets/index.css')
  body

    each y in years
      span
        a(href='?year='+y)= y
        |&nbsp;

    h1 Statistiken
    table
      tr
        th(style="text-align: right;") Token insgesamt:
        td#count-total
        td
          a(href='./api/users?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/users?year='+year target='_blank') [API]
      tr
        th(style="text-align: right;") Token frei:
        td#count-unused
        td
          a(href='./api/users/unused?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/users/unused?year='+year target='_blank') [API]
        td
          a(href='./admin/print/tokens?year='+year target='_blank') [PRINT]
      tr
        th(style="text-align: right;") Angemeldete User:
        td#count-attendees
        td
          a(href='./api/users/attending?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/users/attending?year='+year target='_blank') [API]
        td
          a(href='./admin/print/attending?year='+year target='_blank') [PRINT]
      tr
        th(style="text-align: right;") Abgemeldete User:
        td#count-optouts
        td
          a(href='./api/users/opted-out?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/users/opted-out?year='+year target='_blank') [API]
      tr
        th(style="text-align: right;") Nachgerückte User:
        td#count-successors
        td
          a(href='./api/users/from-waitlist?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/users/from-waitlist?year='+year target='_blank') [API]
      tr
        th(style="text-align: right;") Warteliste:
        td#count-waitlist
        td
          a(href='./api/waitlist?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/waitlist?year='+year target='_blank') [API]
      tr
        th(style="text-align: right;") eingereihte Wartelistenmails:
        td#count-waitlistScheduled
        td
          a(href='./api/waitlist/scheduled?download&format=csv&year='+year) [CSV]
        td
          a(href='./api/waitlist/scheduled?year='+year target='_blank') [API]

    div
      canvas#chart-gender(width="300", height="200")
      canvas#chart-study(width="400", height="200")
      canvas#chart-food(width="400", height="200")

    h1 Userliste
    table#user-table.compact.striped.order-column.hover(data-page-length='100', data-order='[[12]]', data-scroll-x='true', width='100%')
      thead
        tr
          th Token
          th Vorname
          th Nachname
          th Geschlecht
          th Email
          th Telefon
          th Kommentar
          th Geburtstag
          th Ernährung
          th Studiengang
          th(data-visible="false") Jahr
          th state
          th timestamp
          th prev_user
      tbody

    h1 Warteliste
    table#waitlist-table.compact.striped.order-column.hover(data-page-length='50', data-order='[[2]]', data-scroll-x='true', width='100%')
      thead
        tr
          th Email
          th(data-visible="false") Jahr
          th Anmeldung
      tbody

    h1 Token generieren
    form#gen-tokens(action='./api/generateTokens', method='GET')
      label(for='amount') Tokenanzahl:
        input#token-amount(name='amount', type='number', required='', autocomplete='off', placeholder='70', max='1000')
      input(type='submit', value='Generieren')

    script(src='./js/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
    script(src="./js/jquery.dataTables.js")
    script(src='./js/admin.js')
    script(src="./js/Chart.min.js")
    script(src='./js/admin-charts.js')
