doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8; width=device-width; initial-scale=1.0')
    style.
      body {
        margin: 0;
        font-family: sans;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
      }
      .container span {
        padding: 1.3em;
        font-size: 14pt;
      }
      .token {
        font-family: mono;
        letter-spacing: 0.5em;
      }
      .link, .link a {
        text-decoration: none;
        color: #666;
        font-size: 8pt;
      }
      @media print {
        .status { display: none; }
      }

  body
    div.status
    div.container

    script.
      async function main () {
        const url = '../../api/users/unused' + (window.location.search || '')
        const res = await fetch(url)
        const tokens = (await res.json()).map(x => x.token)

        if (!tokens.length)
          return document.querySelector('.status').innerHTML = 'No free tokens. generate some first!'

        const container = document.querySelector('.container')
        for (let token of tokens)
          container.appendChild(createTokenElement(token))

        if(navigator.userAgent.indexOf("Chrome") === -1)
          document.querySelector('.status').innerHTML = 'Print looks best when using Chrome :('
        else
          window.print()
      }

      function createTokenElement (token) {
        const span = document.createElement('span')
        span.innerHTML = `
          <div class="token">${token}</div>
          <div class="link">Einlösen auf <a href="http://geofs.de/erstiwe">geofs.de/erstiwe</a></div>
        `
        return span
      }

      main()
