doctype html
html
    head
      meta(http-equiv='content-type', content='text/html; charset=utf-8; width=device-width; initial-scale=1.0')
      link(rel='stylesheet', href='/stylesheets/morestyle.css')
      title Ersti Wochenende Anmeldung
    body
      header
        div(class='alert', style='display:none')
          //- TODO: make responsive -> no min size
          a Window too small! Please resize the window.
        div(class='headline')
          span(id='titel')
          div(class='logo')
            img(src='/images/pacman.svg', width='150', alt='', padding="20px")
            img(src='/images/notpacman.svg', width='170', alt='', padding="20px")
      div(class='token_input')
        form(method='POST',  action='/register')
          label(for='token')
            | Bitte gebe deinen Zugangscode ein:
            input#token(name='token', type='text', required='', autocomplete='off', maxlength='8', autofocus='on')
          input(type='submit', value='Zugangscode prüfen')
        form(method='POST', action='/register')
          input(type='submit', value='Ich habe keinen Zugangscode :(', target)
      //- TODO: get year from template var from server instead
      script.
        var span = document.getElementById('titel');
        while (span.firstChild){
          span.removeChild(span.firstChild);
        }
        var headline = 'Ersti-Wochenende ' + (new Date()).getFullYear();
        span.appendChild( document.createTextNode(headline));
