/* CSS Document */

.hidden {
  display: none!important;
}

@media (max-width: 1100px){
  .logo{
    display:none !important;
  }
  .content{
    padding-top: 0px;
  }
}

@media (max-width: 700px),(max-height: 430px){
  .headline{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  .token_input{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  .alert{
    display: block !important;
  }
}

body {
    font-family:Titillium Web;
    margin: 0;
    padding: 0;
    color: dimgray;
    background: #f3f3f3
}

.headline{
    width: 96%;
    max-width:1100px;
    font-size: 4em;
    margin: auto;
    background: #f3f3f3;
    line-height: 175px;
    padding-top: 50px;
    text-align: center;
    align-content: center;
}

.logo{
    float: right;
    margin-top: 10px;
    margin-left:25px;
    display: block;
}

form, #menu {
  width:400px;
  margin: auto;
}

#token{
  width: 100%;
  max-width: 400px;
  margin-bottom:22px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}

input:focus, textarea:focus, input:hover, textarea:hover button:hover {
  box-shadow:0 0  10px 0px grey;
}

input[type="submit"], button {
    font-size: 1.2em;
    width: 400px;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  box-shadow:0 0  10px 0px grey;
  background-color:#aaa;
}

input[type="text"]{
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

input, textarea {
  width:100%;
  margin-top:5px;
  margin-bottom:20px;
  padding:3px 8px;
  border:1px solid grey;
  transition: border 0.3s;
  transition: box-shadow 0.3s;
}

input[type="radio"] {
  width:auto;
  margin-right:8px;
  margin-bottom:5px;
}

label {
  display:block;
}

fieldset {
  border:0;
  margin:0;
  padding:0;
  margin-bottom:20px;
}
