/* CSS Document */

.hidden {
  display: none!important;
}

@media (max-width: 1100px){
  .logo{
    display:none !important;
  }
  .content{
    padding-top: 0px;
  }
}

@media (max-width: 700px),(max-height: 430px){
  .headline{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  .token_input{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  .alert{
    display: block !important;
  }
}


body {
    font-family:Titillium Web;
    margin: 0;
    padding: 0;
    color: dimgray;
    background: #f3f3f3
}

.headline{
    width: 96%;
    max-width:1100px;
    font-size: 4em;
    margin: auto;
    background: #f3f3f3;
    line-height: 175px;
    padding-top: 50px;
    text-align: center;
    align-content: center;
    text-decoration:underline;
}

.logo{
    float: right;
    bottom: 0;
    right: 0;
    position: fixed;
    display: block;
    padding-bottom: 50px;
    padding-right: 50px
}

form, #menu, #back {
  width: 400px;
  margin: auto;
  padding: 5px;
}

#back {
}

#info{
    width:430px;
    margin: auto;
    height:auto;
    min-height: 40px;
    line-height: 40px;
    border:0 none;
    font-size: 1.4em;
    background-color: #99f47a;
    font-family: Calibri;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);  
    text-align: center;
    cursor: default;
}

#token{
  margin-bottom:22px;
  font-size: 2em;
  text-align: center;
}

input[type="submit"], button {
    font-size: 1.2em;
    width: 432px;
    padding: 5px; 
    background:#ccc;
    border:0 none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

input:focus, textarea:focus, input:hover, textarea:hover button:hover {
  box-shadow:0 0  10px 0px grey;
}

input[type="submit"]:hover, button:hover {
  box-shadow:0 0  10px 0px grey;
  background-color:#aaa;
}

input, textarea {
  width:420px;
  padding: 5px;
	margin-left: auto;
	margin-right: auto;
  margin-top:5px;
  margin-bottom:20px;
  border:1px solid grey;
  transition: border 0.3s;
  transition: box-shadow 0.3s;
}

input[type="radio"] {
  width:auto;
  margin-right:8px;
  margin-bottom:5px;
}

label {
  display:block;
}

fieldset {
  border:0;
  margin:0;
  padding:0;
  margin-bottom:20px;
}
